.container {
    padding-top: 40px;
    background-color: snow;
}

.about-me {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.hobbies {
    padding-left: 20px;
    padding-right: 20px;
}

.music {
    padding-left: 20px;
    padding-right: 20px;
}

.social {
  
}

p {
    color:darkgreen;
}

.identity {
}

.twitter {
    
}