body {
    background-color: #8B7B41;
}

.container {
    padding-top: 40px;
    background-color: #2A2A2A;
}

h1, h4, li {
    color: snow;
}

.about-me {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.hobbies {
    padding-left: 20px;
    padding-right: 20px;
}

.music {
    padding-left: 20px;
    padding-right: 20px;
}

.social {
  
}

p {
    color:#CBCBCB;
}

.identity {
}

.twitter {
    
}
